[supervisord]
logfile={{ app_log_dir }}/supervisord.log ; 
logfile_maxbytes=50MB ; 
logfile_backups=10 ; 
loglevel=info ; 
pidfile={{ working_dir }}/supervisord.pid ; 
nodaemon=true ; 
minfds=1024 ; 
minprocs=200 ; 
user={{ user }} ;

[program:gunicorn]
command="{{ working_dir }}/startup.sh" ;
directory={{ app_dir }} ;
stopasgroup=true ;
stopsignal=QUIT ;